#addButton{
    border: solid;
    padding: 5px 10px;
    color: var(--Primary);
    background-color: var(--accent);
    border-radius: 16px;
    cursor: pointer;
    margin-right: 4px;
    transition: background-color 0.3s;
    svg{
        width: 30px;
        fill : var(--accent)
    }
}

#addButton:hover, #menuButton:hover {
    background-color: var(--accent);
}